<div id="{{id}}" class="col-12 text-center">
    <div class="row">
        <div class="col-9 text-center">
            <p>{{burger_name}}</p>
        </div>
        <div class="col-3 text-center">
            <button class="btn btn-primary smash-me" data-id="{{id}}">
                <i class="fas fa-tooth"></i> Smash me!
            </button>
        </div>
    </div>
</div>